/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
$base-color: #555;

$circle-border-radius: 50%;

$base-border-color: #ddd;
$lightest-color: #fff;
$darkest-color: #333;
$font-weight: 400;
$font-weight-bold: 500;

//$accordion-header-background-color: $darkest-color;
//$accordion-header-color: $lightest-color;
//$accordion-header-color: #333;

@include extjs-tab-panel-ui(
        $ui-tab-background-color: transparent,
        $ui-tab-background-color-over: #505050,
        $ui-tab-background-color-active: #303030,
        $ui-tab-background-gradient: 'none',
        $ui-tab-background-gradient-over: 'none',
        $ui-tab-background-gradient-active: 'none',
        $ui-tab-color: #acacac,
        $ui-tab-color-over: #c4c4c4,
        $ui-tab-color-active: #fff,
        $ui-tab-glyph-color: #acacac,
        $ui-tab-glyph-color-over: #c4c4c4,
        $ui-tab-glyph-color-active: #fff,
        $ui-tab-glyph-opacity: 1,
        $ui-tab-border-radius: 0,
        $ui-tab-border-width: 0,
        $ui-tab-inner-border-width: 0,
        $ui-tab-padding: 24px,
        $ui-tab-margin: 0,
        $ui-tab-font-size: 15px,
        $ui-tab-font-size-over: 15px,
        $ui-tab-font-size-active: 15px,
        $ui-tab-line-height: 19px,
        $ui-tab-font-weight: bold,
        $ui-tab-font-weight-over: bold,
        $ui-tab-font-weight-active: bold,
        $ui-tab-icon-width: 24px,
        $ui-tab-icon-height: 24px,
        $ui-tab-icon-spacing: 5px,
        $ui-bar-background-color: #404040,
        $ui-bar-background-gradient: 'none',
        $ui-bar-padding: 0,
        $ui-strip-height: 0
);

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
        $ui: 'navigation',
        $ui-header-color: #fff,
        $ui-header-glyph-color: #fff,
        $ui-header-glyph-opacity: 1,
        $ui-header-font-size: 20px,
        $ui-header-line-height: 24px,
        $ui-header-font-weight: bold,
        $ui-header-icon-height: 24px,
        $ui-header-icon-width: 24px,
        $ui-header-icon-spacing: 15px,
        $ui-header-background-color: $base-color,
        $ui-header-padding: 0,
        $ui-header-text-margin: 36px,
        $ui-header-noborder-adjust: false
);

.x-title-icon-navigation {
  font-family: FontAwesome;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.x-form-item-label-default.x-form-item-label-top {
  padding-top: 0;
  padding-bottom: 0;
}

.x-tab-icon-el-navigation {
  font-family: FontAwesome;
  color: #acacac;

  .x-tab-over & {
    color: #c4c4c4;
  }

  .x-tab-active & {
    color: #fff;
  }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
  top: 30px;
  right: -24px;
}

.f-debug-panel {
  color: #0AA9DC;
  margin-left: auto;
  right: 2px;
}

.f-eventtype {
  color: #00bcd4;
}

.f-eventinstance {
  color: #1b5e20;
}

.f-eventmaster {
  color: #0f76c2;
}

.f-vehicle {
  color: #404040;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                                  supported by Chrome and Opera */

}

.f-promo-checked {
  border-color: #f8d400 !important;
}

.f-layout-object {
  //opacity: 0.9;
  border: solid 1px #2e7d32;

  border-radius: 5px;
}

.f-layout-object .x-panel-header {
}

.f-layout-object-clean {
  background-color: #FFE8BE;
  border: solid 2px $color-jda-blue;
  border-radius: 6px;
}

.f-layout-object-selected .x-panel-body {
  font-style: italic;

}

.f-status-ok {
  color: $color-soft-green !important;
}

.f-status-error {
  color: $color-soft-red !important;
}

.f-panel-dirty {
  border: 3px groove $color-soft-red;
}

.f-panel-deleted {
  border: 3px ridge $color-soft-orange;
  opacity: 0.6;
}


.f-new-layout-ind {
  position: relative;
  top: 2px;
  right: 2px;
  content: $fa-var-check !important;
}

.f-layout-edit:after {
  color: #0aa9dc;
  content: "\f040";
  font-size: 7vw;
  font-family: FontAwesome;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  margin:0 auto;
}

.f-disabled-row {
  background-color: #f8d400 !important;
}

.cell-editing-delete-row:before {
  font: 18px/1 FontAwesome;
  color: #dd6550;
  content: "\f056";
}

.f-new-node {
 color: $color-theme-1;
}

.f-promo-on-page {
  color: $color-theme-1 !important;
}

.f-promo-not-on-page {
  color: $color-jda-blue !important;
}

.f-promo-not-valid-for-page {
  color: $color-jda-grey;
  font-style: italic;
}

.f-offer-received:before {
  font: 18px/1 FontAwesome;
  color:$color-jda-blue;
  content: "\f019";
}

.f-offer-new:before {
  font: 18px/1 FontAwesome;
  color:$color-soft-orange;
  content: "\f069";
}

.f-promo-base {
  background-color: white;
  border: 2px solid #0f76c2;
}

.x-panel-promo {
  border-radius: 5px;
  border: 2px solid #0f76c2;
  box-shadow: 5px 5px 5px #CCCCCC;

}

.f-treatment-text {
  color: $color-jda-blue;
}

.f-highlight {
  box-shadow: 5px 5px 5px $color-soft-orange !important;
  border: 2px solid $color-soft-orange;
}
.f-table-layout {
  text-align: center;
  border: 1px solid #ddd;
  padding: 2px;
}

.f-layout-new {
  color: #f57c00;
}

.f-table-layout th {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  text-align: right;
  background-color:$color-jda-blue;
  color: white;
}


.f-page-not-submitted {
  color:$color-jda-blue;
}

.f-page-not-submitted[role='presentation']:before {
  color:$color-jda-blue;
  content: '\f15c';
  font: 18px/1 FontAwesome;
}

.f-page-validation-error{
  color:$color-soft-orange;
}

.f-page-validation-error[role='presentation']:before {
  color:$color-soft-orange;
  content: '\f15c';
  font: 18px/1 FontAwesome;
}

.f-page-error {
  color:$color-soft-red;
}


.f-page-error[role='presentation']:before {
  color:$color-jda-red;
  content: '\f15c';
  font: 18px/1 FontAwesome;
}

.f-page-approved {
  color:$color-jda-red;
}

.x-tree-icon-leaf .f-page-submitted{
  background-image: url("images/delete.gif") !important;
}


.f-page-submitted {
  color:$color-soft-cyan;
}


.f-page-submitted[role='presentation']:before {
  color:$color-soft-cyan;
  content: '\f15c';
  font: 18px/1 FontAwesome;
}

.component-tool-filter .x-tool-filter{
  background-image:none !important;
  font: 16px/1 FontAwesome;
}
.component-tool-filter  .x-tool-filter:before{
  content: "\f0b0" !important;
}

.f-debug-text {
  float: right;
  color: #0f76c2;
  font-size: smaller;
  white-space: nowrap;
}

.f-panel-drag-start {
  border-width: 3px !important;
  border-color: #0aa9dc !important;
  border-style: ridge !important;
  z-index: 999999;
}

.f-debug-info {
  float: left;
  position: absolute;
  top: 1px;
  left: 1px;
}

.x-panel-ghost {
  border-width: 2px;
  border-color: #f57c00;
  border-style: solid;
}

.f-transparent {
  background-color: transparent;
  margin: 0 auto;
  font-style: italic;
  font-size: 2vw;
  width: inherit;
  height: inherit;
  text-align: center;
  position: relative;
  text-shadow:  $color-jda-grey 0 0 10px;
  z-index: 999;
}

.f-drag-panel-hover {
  background-color: $color-jda-blue;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px #DDD;
  background:linear-gradient(to bottom, $color-jda-blue ,#505050);
}

.f-history-event {
  color: $color-jda-blue;
  font-style: italic;
  text-shadow:  cornflowerblue 0 0 10px;
}