@include extjs-panel-ui (
        $ui: 'promo',
        $text-color: #157fcc
);

.f-promo-base {
  background-color: antiquewhite;
  border-color: green;
  border-width: 2px;
}

.x-panel {
  border-width: 2px;
  border-color: green;
}

.x-panel-body-promo-framed {
  border-width: 2px;
  border-color: green;
}